<div class="container">
    <div class="d-flex justify-content-center ">

    </div>
    <div class="d-flex justify-content-center p-3">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <form [formGroup]="searchForm">
                    <div class="row">
                        <div class="form-group">
                            <input type="text" [ngClass]="error ? 'is-invalid' : ''" formControlName="login" class="form-control" placeholder="Search" aria-label="Login">
                            <span class="error_msg col-12" *ngIf="searchForm.get('login').hasError('pattern')">
                                Error
                            </span>
                        </div>
                    </div>
                    <div class="row mt-2">

                        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                            <button type="button" class="btn btn-success btn-lg" (click)="submit()">Search</button>
                        </div>

                        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                            <button type="button" class="btn btn-danger btn-lg" (click)="reset()">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>