<div class="container">
    <div class="row">
        <a href="">Go Back</a>
        <h3 class="text-center">Result</h3>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <table id="tbl" datatable [dtOptions]="tableParam" [dtTrigger]="dtTrigger"
                class=" table table-striped w-100 dt-responsive">
                <thead class="thead-dark">
                  <tr>
                    <th class="text-center">avatar_url (image)</th>
                    <th class="text-center">login</th>
                    <th class="text-center">type</th>
                  </tr>
                </thead>
                <tbody class="freelance-posts">
                  <tr *ngFor="let data of resultData; let i = index">
                    <td class="text-center">
                        <img class="ing-fluid" src="{{data.avatar_url}}"/>
                        
                    </td>
                    <td class="text-center">{{data.login}}</td>
                    <td class="text-center">{{data.type}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
